{% extends 'base.html.twig' %}

{% block body %}

<div class="d-flex flex-row justify-content-between mb-5">
<h1>Prochain cours: le lundi 23 décembre<h1>
</div>


{% for courseId, courseData in courses %}
<div class="container">
    <div class="row">

        <div class="col-sm-6">
            <a href ="{{ path('select_course', {'id': courseId}) }}"> {{ courseData.course }}</a><hr> Prochain cours: {{ courseData.nextCourse }}<hr>
            <img src="{{ asset('images/' ~ courseData.icon1 ~ '.png') }}" width="40">
            {{ courseData.student }}<hr>
            <img src="{{ asset('images/' ~ courseData.icon2 ~ '.png') }}" width="40"> {{ courseData.planning }}<hr>
            A partir du: {{ courseData.startOfTheCourse }}<hr>
            <img src="{{ asset('images/' ~ courseData.icon3 ~ '.png') }}" width="40"> {{ courseData.schedule }}<hr> 
            {{ courseData.courseTime }}<hr>
            <img src="{{ asset('images/' ~ courseData.icon4 ~ '.png') }}" width="40"> {{ courseData.teacher }}<hr>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}
